version: '3.8'

services:
  backend:
    image: ${{ CONTAINER_REGISTRY_ENDPOINT }}/backendtest:latest
    #build:
      #context: ./backend  # Chemin vers le dossier contenant le Dockerfile du backend
      #dockerfile: Dockerfile  # fichier Dockerfile
    ports:
      - "8000:8000"  # les ports du backend

  frontend:
    image: ${{ CONTAINER_REGISTRY_ENDPOINT }}/frontendtest:latest
    #build:
      #context: ./frontend  # Chemin vers le dossier contenant le Dockerfile du frontend
      #dockerfile: Dockerfile  # Fichier Dockerfile
    ports:
      - "8080:8080"  # les ports du frontend
env_file:
  - .env
